# Git
.git
.gitignore
.gitattributes
.github/

# Development environments
.vs/
.idea/
.vscode/
.ionide/
*.suo
*.user
*.userosscache
*.sln.docstates
**/Properties/launchSettings.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# NuGet
packages/
*.nupkg
*.snupkg

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResults/
coverage/
coverage.*
*.coverage
*.coveragexml
*.trx

# Docker files
Dockerfile*
docker-compose*
.dockerignore

# Documentation
README.md
LICENSE
*.md
docs/

# Misc
*.swp
*.*~
*.log
.DS_Store
node_modules/
.npm
*.sqlite
*.jfm